<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title><%= title %></title>
</head>
<body class="body-style">
  <div class="main-container">
    <div class="inner-main-container justify-between">

      <h1 class="text-[2.5vw] text-gray-950">👋 Hey <%= username %>! What's up?</h1>
      <div class="w-full flex justify-start items-center p-[1vh] border-2 border-gray-700 rounded-xl ">
        <a href="/loginHome/folder" class="primary-button w-auto text-[1.1vw] p-[5px] cursor-pointer">New Folder +</a>
      </div>

      <div class="min-h-[45vh] w-full flex flex-col justify-around items-start p-[1vh] border-2 border-gray-700 rounded-xl">
        <h2 class="text-[1.3vw] text-gray-950 font-medium">Your Folders:</h2>

        <div class="min-h-[38vh] w-full flex flex-col justify-start items-center gap-[2vh]">
          <% if (folders.length === 0) { %>
            <p class="text-[1.2vw] text-gray-700">You have no folders yet.</p>
          <% } else { %>
            
              <% folders.forEach(folder => { %>
                <div class="h-[6vh] w-[100%] flex justify-between items-center p-[1vh] border-2 border-gray-600 rounded-xl">
                  <a href="/loginHome/folder/<%= folder.id %>" class="text-[1.3vw] text-gray-800 underline decoration-solid decoration-gray-700 hover:text-black"><%= folder.name %></a>
                  <div class="w-[8vw] flex justify-between items-center">
                    <a href="/loginHome/edit/<%= folder.id %>" class="text-[1vw] text-gray-500 hover:text-gray-800">Edit</a>
                    <a href="/loginHome/delete/<%= folder.id %>" class="text-[1vw] text-gray-500 hover:text-gray-800" onclick="return confirm('Are you sure you want to delete this folder?');">Delete</a>
                  </div>
        
                </div>
          
               <% }) %>
            
           <% } %>
        </div>
          
      </div>
      
           
           <a href="/logout" class="primary-button w-[8%] text-[1.1vw] p-[5px] cursor-pointer">Logout</a>
    </div>
  </div>
    
</body>
</html>